Creando el dataFrame

In [ ]:
pip install pytc-fitter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pytc-fitter in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from pytc-fitter) (3.2.2)
Requirement already satisfied: emcee in /usr/local/lib/python3.7/dist-packages (from pytc-fitter) (3.1.3)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from pytc-fitter) (1.7.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pytc-fitter) (1.21.6)
Requirement already satisfied: corner in /usr/local/lib/python3.7/dist-packages (from pytc-fitter) (2.2.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pytc-fitter) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pytc-fitter) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pytc-fitter) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->pytc-fitter) (1.4.4)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->pytc-fitter) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->pytc-fitter) (1.15.0)

Importando las librerias
"#pip install fitter " correrlo si no encuentra fitter

 Para tener el drive 
 
 
 from google.colab import drive
drive.mount('/content/drive')

In [ ]:
pip install fitter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fitter in /usr/local/lib/python3.7/dist-packages (1.5.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from fitter) (7.1.2)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (from fitter) (3.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from fitter) (1.21.6)
Requirement already satisfied: scipy>=0.18 in /usr/local/lib/python3.7/dist-packages (from fitter) (1.7.3)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from fitter) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from fitter) (1.2.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from fitter) (1.3.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fitter) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fitter) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fitter) (0.11.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib->fitter) (3.0.9)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib->fitter) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib->fitter) (1.15.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->fitter) (2022.6)

In [ ]:
#Importamos las librerias
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.image as mpimg
from scipy.stats import kstest
from scipy.stats import anderson
import numpy as np
import seaborn as sns
import fitter
from fitter import Fitter, get_common_distributions, get_distributions
from scipy.stats import beta
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier

In [ ]:
#creacion del dataframe
import io
from google.colab import files

uploaded = files.upload() 
df = pd.read_csv(io.BytesIO(uploaded['Fertile_Man_WHO_2020.csv']))
df

Saving Fertile_Man_WHO_2020.csv to Fertile_Man_WHO_2020 (1).csv

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Vitality,Normal_Forms
0,Tang,5.0,101.0,505.00,58.000000,30.000000,28.000000,42.000000,NaN,76.0
1,Tang,2.0,15.0,30.00,66.000000,48.000000,18.000000,32.000000,NaN,70.0
2,Jensen,2.5,174.0,435.00,NaN,NaN,NaN,NaN,NaN,66.5
3,Jensen,2.3,86.0,197.80,NaN,NaN,NaN,NaN,NaN,64.5
4,Jensen,5.5,79.0,434.50,48.000000,NaN,NaN,52.000000,NaN,63.0
...,...,...,...,...,...,...,...,...,...,...
3584,Auger,2.5,194.0,485.00,90.000000,85.000000,5.000000,10.000000,NaN,NaN
3585,Haugen,2.8,0.9,2.52,55.000000,29.000000,26.000000,45.000000,NaN,NaN
3586,Haugen,6.1,70.0,427.00,71.000000,64.000000,7.000000,29.000000,NaN,NaN
3587,Swan,0.8,NaN,NaN,52.442997,47.557003,4.885993,47.557003,NaN,NaN
3588,Swan,1.8,75.0,135.00,55.417957,50.464396,4.953560,44.582043,NaN,NaN

In [ ]:
df = df.drop(columns = 'Vitality')

In [ ]:
#probamos cuando tenemos total_motility y no contamos con Immotile_Spermatoza
df['Immotile_Spermatozoa'] = df['Immotile_Spermatozoa'].fillna(100-df['Total_Motility'])
#probamos cuando tenemos Immotile_Spermatoza y no contamos con total_motility. Despejando la formula
df['Total_Motility'] = df['Total_Motility'].fillna(100-df['Immotile_Spermatozoa'])
df

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms
0,Tang,5.0,101.0,505.00,58.000000,30.000000,28.000000,42.000000,76.0
1,Tang,2.0,15.0,30.00,66.000000,48.000000,18.000000,32.000000,70.0
2,Jensen,2.5,174.0,435.00,NaN,NaN,NaN,NaN,66.5
3,Jensen,2.3,86.0,197.80,NaN,NaN,NaN,NaN,64.5
4,Jensen,5.5,79.0,434.50,48.000000,NaN,NaN,52.000000,63.0
...,...,...,...,...,...,...,...,...,...
3584,Auger,2.5,194.0,485.00,90.000000,85.000000,5.000000,10.000000,NaN
3585,Haugen,2.8,0.9,2.52,55.000000,29.000000,26.000000,45.000000,NaN
3586,Haugen,6.1,70.0,427.00,71.000000,64.000000,7.000000,29.000000,NaN
3587,Swan,0.8,NaN,NaN,52.442997,47.557003,4.885993,47.557003,NaN
3588,Swan,1.8,75.0,135.00,55.417957,50.464396,4.953560,44.582043,NaN

In [ ]:
df['Progressive_Motility'] = df['Progressive_Motility'].fillna(df['Total_Motility']-df['Non-progressive_Motility'])
df['Non-progressive_Motility'] = df['Non-progressive_Motility'].fillna(df['Total_Motility']-df['Progressive_Motility'])

In [ ]:
df=df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3132 entries, 0 to 3333
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Publisher                 3132 non-null   object
 1   Semen_Volume              3132 non-null   float64
 2   Sperm_Concentration       3132 non-null   float64
 3   Total_Number              3132 non-null   float64
 4   Total_Motility            3132 non-null   float64
 5   Progressive_Motility      3132 non-null   float64
 6   Non-progressive_Motility  3132 non-null   float64
 7   Immotile_Spermatozoa      3132 non-null   float64
 8   Normal_Forms              3132 non-null   float64
dtypes: float64(8), object(1)
memory usage: 244.7+ KB

Encontrar los valores para cada una de las clases de fertilidad que existe

# 0 - infertil 
1 - medio
## 2 - super fertil

In [ ]:
#Dataframe completo para saber si se ejecuto bien la condicion
outcome = []
normal_form = []
semen_Volume = []
#Contadores para cada tipo
count_low = 0
count_normal = 0
count_extra = 0

#Listas para dataframes de cada tipo
nf_low = []
nf_normal = []
nf_extra = []


for i in range(len(df)):
  if df.iloc[i]['Normal_Forms'] < 4.0:
    fertility_impared = 0
    nf_low.append(df.iloc[i]['Normal_Forms'])
    outcome.append(fertility_impared)
    count_low = count_low + 1
  elif df.iloc[i]['Normal_Forms'] > 14.0:
    fertility_extra = 2
    nf_extra.append(df.iloc[i]['Normal_Forms'])
    outcome.append(fertility_extra)
    count_extra = count_extra + 1
  else:
    fertility_normal = 1
    nf_normal.append(df.iloc[i]['Normal_Forms'])
    outcome.append(fertility_normal)
    count_normal = count_normal + 1
  normal_form.append(df.iloc[i]['Normal_Forms'])

In [ ]:
#Cuantos valores hay de cada uno
print("Low: ",count_low)
print("Normal: ", count_normal)
print("Extra: ",count_extra)

Low:  140
Normal:  1615
Extra:  1377

In [ ]:
#agregar el outcome
df['Outcome'] = outcome

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [34]:
df
#df.to_csv('df2.csv', index = False)

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms,Outcome
0,Tang,5.00,101.00,505.0000,58.000000,30.000000,28.000000,42.000000,76.0,2
1,Tang,2.00,15.00,30.0000,66.000000,48.000000,18.000000,32.000000,70.0,2
8,Baker,2.90,182.00,527.8000,61.000000,58.000000,3.000000,39.000000,58.0,2
11,Auger,4.10,72.00,295.0000,57.000000,52.000000,5.000000,48.000000,56.0,2
21,Auger,2.30,98.00,225.0000,82.000000,75.000000,7.000000,18.000000,54.0,2
...,...,...,...,...,...,...,...,...,...,...
3329,Swan,4.70,21.70,101.9900,59.615385,58.333333,1.282051,40.384615,1.0,0
3330,Tang,5.00,65.00,325.0000,51.000000,24.000000,27.000000,49.000000,1.0,0
3331,Tang,3.00,6.00,18.0000,58.000000,47.000000,11.000000,42.000000,1.0,0
3332,Swan,5.92,5.00,29.6000,33.666667,25.666667,8.000000,66.333333,0.5,0
3333,Swan,7.53,54.55,410.7615,49.851632,46.587537,3.264095,50.148368,0.5,0

In [ ]:
#Partir dependiedo de la categoria

df_low = df[df['Outcome'] == 0]
df_normal = df[df['Outcome'] == 1]
df_extra= df[df['Outcome'] == 2]

In [ ]:
df_low

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms,Outcome
3192,Swan,3.20,53.65,171.6800,39.130435,34.782609,4.347826,60.869565,3.5,0
3193,Swan,4.84,68.15,329.8460,43.987342,40.506329,3.481013,56.012658,3.5,0
3194,Swan,5.14,52.70,270.8780,48.333333,46.000000,2.333333,51.666667,3.5,0
3195,Swan,3.63,25.40,92.2020,48.709677,42.903226,5.806452,51.290323,3.5,0
3196,Swan,3.86,46.80,180.6480,53.943218,47.949527,5.993691,46.056782,3.5,0
...,...,...,...,...,...,...,...,...,...,...
3329,Swan,4.70,21.70,101.9900,59.615385,58.333333,1.282051,40.384615,1.0,0
3330,Tang,5.00,65.00,325.0000,51.000000,24.000000,27.000000,49.000000,1.0,0
3331,Tang,3.00,6.00,18.0000,58.000000,47.000000,11.000000,42.000000,1.0,0
3332,Swan,5.92,5.00,29.6000,33.666667,25.666667,8.000000,66.333333,0.5,0
3333,Swan,7.53,54.55,410.7615,49.851632,46.587537,3.264095,50.148368,0.5,0

In [ ]:
df_normal_2 = df_low.append(df_normal)
df_ready_all = df_normal_2.append(df_extra)

In [ ]:
df.groupby(by = 'Outcome').mean()

,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms
Outcome,,,,,,,,
0,3.910071,48.511429,180.247046,57.749187,47.710805,9.995525,42.265099,2.364286
1,3.396947,70.376316,231.368217,63.135878,52.234266,10.891086,36.895081,8.973065
2,3.520160,94.107625,319.266386,65.679679,56.579593,9.115337,34.315963,23.690995

In [ ]:
#Sacar un sample de cada tipo
sdf_low = df_low.sample(100)
sdf_normal = df_normal.sample(100)
sdf_extra = df_extra.sample(100)

In [ ]:
result = sdf_low.append(sdf_normal)
df_ready = result.append(sdf_extra)

In [ ]:
df_ready.head()

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms,Outcome
3320,Auger,3.60,2.0,7.000,60.000000,43.000000,17.000000,41.000000,1.0,0
3297,Zedan,2.60,44.0,114.000,70.000000,55.000000,15.000000,30.000000,2.0,0
3317,Auger,3.90,23.0,90.000,50.000000,33.000000,17.000000,50.000000,1.0,0
3327,Swan,2.79,22.8,63.612,25.316456,14.556962,10.759494,74.683544,1.0,0
3195,Swan,3.63,25.4,92.202,48.709677,42.903226,5.806452,51.290323,3.5,0

In [ ]:
df_shuffled = df_ready.sample(frac = 1).reset_index(drop = True)
df_shuffled.head()

,Publisher,Semen_Volume,Sperm_Concentration,Total_Number,Total_Motility,Progressive_Motility,Non-progressive_Motility,Immotile_Spermatozoa,Normal_Forms,Outcome
0,Baker,1.70,258.0,438.600,62.000000,58.000000,4.000000,38.000000,18.0,2
1,Lotti,5.80,8.6,49.880,68.000000,62.000000,6.000000,32.000000,1.0,0
2,Swan,5.03,45.1,226.853,78.104575,75.816993,2.287582,21.895425,11.0,1
3,Swan,2.05,98.5,201.925,77.402597,75.324675,2.077922,22.597403,21.0,2
4,Auger,4.00,88.0,352.000,60.000000,48.000000,12.000000,40.000000,19.0,2

In [ ]:
X = df_ready_all.drop(columns = ['Publisher','Total_Motility','Progressive_Motility','Non-progressive_Motility','Normal_Forms','Outcome'])
y = df_ready_all['Outcome']
X_train, X_test, y_train, y_test = train_test_split(
                     X, y, test_size=0.30)

In [ ]:
X

      Semen_Volume  Sperm_Concentration  Total_Number  Immotile_Spermatozoa
3192          3.20                53.65      171.6800             60.869565
3193          4.84                68.15      329.8460             56.012658
3194          5.14                52.70      270.8780             51.666667
3195          3.63                25.40       92.2020             51.290323
3196          3.86                46.80      180.6480             46.056782
...            ...                  ...           ...                   ...
1571          4.46                25.50      113.7300             35.000000
1572          4.11                43.80      180.0180             33.333333
1573          3.57               146.75      523.8975             33.228840
1574          6.51                80.00      520.8000             32.926829
1575          3.90               155.25      605.4750             32.000000

[3132 rows x 4 columns]

In [ ]:
#entrenamiento
clf = DecisionTreeClassifier()
clf = clf.fit(X_train,y_train)

In [ ]:
#Prediccion
y_pred = clf.predict(X_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5393617021276595

In [ ]:
X_test

      Semen_Volume  Sperm_Concentration  Total_Number  Immotile_Spermatozoa
2135          2.18                60.50       131.890             49.689441
1031          3.00                42.00       126.000             50.000000
1462          2.80               168.00       470.000             38.000000
1882          3.20                29.00        92.800             35.000000
1533          1.80               304.00       547.200             57.000000
...            ...                  ...           ...                   ...
2606          4.82                65.85       317.397             55.520505
3197          5.62                29.80       167.476             44.281525
585           4.40                73.00       321.000             47.000000
540           2.60                20.00        52.000             11.000000
1419          3.00               163.00       489.000             18.000000

[940 rows x 4 columns]

In [ ]:
clf.predict([[3.60,	2.00,	7.0000,	60.000000,	43.000000,	17.000000,	41.000000,	1]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  "X does not have valid feature names, but"

ValueError: ignored

In [ ]:
variables = X_train.columns
plt.figure(figsize=[20,7])
tree.plot_tree(clf, feature_names=variables, class_names=['Low', 'Normal','Extra'], fontsize=8, filled=True)
plt.show()

In [ ]:
x_test.iloc[0:6,:]

In [ ]:
y_pred

In [ ]:
y_pred == y_test

In [ ]:
len(y_test)